* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* Debugging */
  /* border: 1px solid red; */
}

#hero {
  background-image: url(./images/hero.png);
  background-size: cover;
  background-position: center;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero-greeting {
  background: black;
  padding: 5px 20px;
  color: white;
  margin: 0 0 10px 70px;
}

#hero-job {
  background: #6cd3f4;
  padding: 5px 20px;
  margin: 0 0 10px 30px;
}

#logo {
  background: black;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  padding: 10px;
}

#about {
  display: flex;
  height: 20rem;
}

.about-header,
.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header {
  background: #171817;
  text-align: center;
}

.about-header > h2 {
  color: #6cd3f4;
  padding: 0 30px;
}

.about-info {
  background: #1e221d;
}

.about-info > p {
  color: white;
  padding: 0 20px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills-header {
  background: black;
  color: white;
  margin: 20px 0;
  padding: 10px 30px;
}

.skill-container {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  display: flex;
  height: 10rem;
  width: 20rem;
  margin: 10px 20px;
}

.skill-black {
  background: black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-black > img {
  max-width: 80%;
}

.skill-blue {
  background: #6cd3f4;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-projects {
  min-height: 40rem;
  background: #6cd3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-projects > h2 {
  font-size: 40px;
  margin: 20px 0;
}

#mfm-project,
#vl-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#image-container > img {
  width: 50%;
}

#image-container > .pic-1 {
  position: relative;
  z-index: 1;
}

#image-container > .pic-2 {
  position: relative;
  left: 150px;
  top: -100px;
  z-index: 0;
  margin-bottom: -90px;
}

#mfm-project > h3 {
  color: #ffffff;
  background: #911f90;
  padding: 10px 20px;
  margin-bottom: 20px;
}

#vl-project > h3 {
  color: #000000;
  background: #deb197;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* Media query */
@media only screen and (min-width: 1200px) {
  #hero-greeting {
    margin: 0 0 10px 120px;
  }
  #hero-job {
    margin: 0 0 10px 70px;
  }
}

@media only screen and (max-width: 400px) {
  #hero-job {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .about-info > p {
    color: white;
    padding: 0 10px;
    letter-spacing: 0;
    word-spacing: 0;
  }
}
